{% extends "portal/base.html" %}
{% block content %}
<div class="container">
   <div>
		<h3>Terms and Conditions</h3>
			<ul>
				<li>You are authorized to work in the United States.</li>
				<li>You are over 18 years of age.</li>
				<li>CompanyX is authorized to perform a background check based on the information you provided.</li>
			</ul>
   </div>
	
	<form class="form-horizontal" id="background_check_form" method="post" action="/portal/confirm_registration/">
	{% csrf_token %}
		<input type="submit" class="btn btn-success btn-large" value="I accept the terms and conditions">
	</form>

	<form action="/applicant_portal/">
	{% csrf_token %}
		<input type="submit" class="btn btn-large btn-danger" value="I do not accept the terms and conditions">
	</form> 

</div>

{% endblock %}