{% extends "portal/base.html" %}
{% block content %}

<a href="#register"><p>Register as an Applicant</p></a>
<a href="#login">Login to the app</a>

<form id="application-form" method= "post" action="/portal/register">
	
	<div class="control-group">  
        <label class="control-label" for="first-name">First Name</label>  
            <div class="controls">  
                <input type="text" id="first-name" name="first-name" required>  
            </div>  
    </div>

    <div class="control-group">  
        <label class="control-label" for="last-name">Last Name</label>  
            <div class="controls">  
                <input type="text" id="last-name" name="last-name" required>  
            </div>  
    </div>
	
	<div class="control-group">  
        <label class="control-label" for="email">Email</label>  
            <div class="controls">  
                <input type="email" id="email" name="email" required>  
            </div>  
    </div>

	<div class="control-group">  
        <label class="control-label" for="phone">Phone</label>  
            <div class="controls">  
                <input type="text" id="phone" name="phone" pattern="[1-9][0-9]{9}" required>  
            </div>  
    </div>

	<div class="control-group">  
        <label class="control-label" for="city">City</label>  
            <div class="controls">  
                <input type="text" id="city" name="city" required>  
            </div>  
    </div>

    <div class="control-group">  
        <label class="control-label" for="state">State</label>  
            <div class="controls">  
                <input type="text" id="state" name="state" required>  
            </div>  
    </div>

	<div class="control-group">  
        <label class="control-label" for="zipcode">Zipcode</label>  
            <div class="controls">  
                <input type="text" id="zipcode" name="zipcode" pattern="(\d{5}([\-]\d{4})?)" required>  
            </div>  
    </div>

	<div class="form-actions">  
        <button id="applicant_submit" type="submit" class="btn btn-success">Apply!</button>  
    </div>                 

</form>




 
                
{% endblock %}
